.divGlavni
{
    display: flex;
    flex-direction: row;
    
}
.pretragaDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1
{
    color: rgb(12, 19, 26);
}

.divH1{
    border-radius: 20px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    background-color: white;
    font-size: 2em;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selectN{
    background-color:#2D14EE;
    color: white;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.container
{
    background-image: url('../Pictures/vp.jpg');
    /* width: 100%;
    height: 100%; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.divProducts
{
    display: flex;
    flex-direction: row;
}


.category
{
    width: 205px;
    height: 40px;
}
.buttonPretraga
{
    height: 40px;
}
.txbBox
{
    width: 205px;
    height: 40px;
}
.maps
{
    padding-top: 20px;
    width: 515px;
    height: 400px;
    border-radius: 5px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    background-color: white;
    font-size: 2em;
    padding: 5px;
    margin-top: 10px;
}
.Loading
{
    margin-left: 45%;
    margin-top: 25%;
}

.unosPodataka
{
    border-radius: 3px;
    border: 2px solid #ccc;
    padding: 0.4rem;
    height: 40px;   
    width: 210px;
    
}
.unosPodataka:focus
{
    outline: none;
    border: 2px solid rgb(16, 157, 61);
    box-shadow: 0 2px 3px rgb(71, 178, 210, 0.3);
}

.Search{
    background-color:rgb(24, 148, 24);
    color: white;
    border: none;
    height: 52px;
}

.Poslovi_divForma__5\+vty button .fa-magnifying-glass {
    size:100px;
    color: #2D14EE;
    background-color: aqua !important;
}