.fullComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
  }
  .labelaDiv {
    width: 20rem;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-top: 2%;
    justify-content: flex-start;
  }
  .inputDiv {
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
  }
  