.allProducts {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .Product {
    width: 500px;
  }
  .RatingWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 1.5rem 0;
  }
  .RatingWrap h1 {
    margin: 0;
    margin-bottom: 5px;
    color: white;
  }
  .Discription {
    font-size: 20px;
  }
  .Loading {
    margin-left: 50%;
    margin-top: 30%;
    font-size: 50px;
  }
  
  .container
  {
      background-image: url('../../Pictures/wave.png');
      width: 100%;
      height: 100%; 
      background-position: center; 
      background-repeat: no-repeat; 
       background-size: cover; 
  }
  